.header{
    font-size: 40px;
    text-align: center;
    font-family: 'Rancho', cursive;
    background-color: #E2EA2A;
    height: 200px;
    width: 100%;
}
h1{
    font-family: 'Rancho', cursive;

}
h2{
    font-family: 'Rancho', cursive;
    color: white;

}

.row{
    padding: 40px;
    width: auto;
}
.col-md-4{
    background-color: #767849;
    height: 400px;
    width: auto;
}

.col-md-4{

    height: 400px;
    width: auto;
}

.head{
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count: 1; 
}
.btn{
    background-color: #E2EA2A;

    -webkit-animation-delay: 2s;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count: 4; 
}
.list-unstyled{
    font-size: 24px;
    font-family: 'Pangolin', cursive; 
}
